<div class="container mt-5">
  <h1 class="text-center">Chat Socket.io</h1>
  <div class="row">
    <div class="col-12 col-xl-9">
      <div class="card rounded-0 shadow-sm">
        <div class="card-header d-flex justify-content-end align-middle py-1">
          <button class="btn btn-sm btn-dark">Rename</button>
        </div>
        <div class="overflow-auto" id="chat">
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0" *ngFor="let message of messages">
              <span class="badge badge-pill badge-primary shadow-sm py-2 px-3">{{ message }}</span>
            </li>
          </ul>
        </div>
        <div class="card-body border-top p-1">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Message" [(ngModel)]="message">
            <div class="input-group-append">
              <button class="btn btn-secondary px-5" (click)="sendMessage()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="card rounded-0 shadow-sm h-100">
        <div class="card-header">
          <small>online: {{ online }}</small>
        </div>
        <div class="overflow-auto h-100">
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-bottom py-1" *ngFor="let member of members">{{ member.name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
